#react-root {
  background-color: #292929;
  padding: 20px;
}

body {
  font-family: verdana, arial, serif;
  color: #db6e02;
  background-color: #2d2d2d;
  margin: 25px;
}

nav > ul li {
  display: inline-block;
  width: 160px;
}
#navBar,
a {
  color: orange;
}
.FavHeader {
  text-align: center;
}
